apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd
  namespace: default
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: hello-cicd 
            port:
              number: 80
